
.wrapper {
    display: grid;
    grid-template-rows: 100px 100px 1fr;
    grid-template-columns: 1fr;
    text-align: center;
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-template-columns: 300px 1fr;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .navigation {
        text-align: left;
        height: 100vh;
        margin-left: 25px;
    }

    .nav-header {
        padding-left: 25px;
    }

    .welcome-page {
        text-align: center;
        height: 100vh;
    }

    .new-recipe {
        text-align: center;
        height: 100vh;
    }

    .recipe-instructions {
        width: 600px;
        height: 300px;
        
    }
}